/* General CSS */

body {
  font-family: sans-serif;
  color : white;

}

div{
  padding: 20px 25px 20px 25px;
  margin: 0;
  text-align: center;

}

p {
  text-align: justify;

}

/* p h2 {
  padding: 10px;
} */
#header{
  text-align: center;
  background-color: #0B3C5D;

}
#Content {
  box-shadow: -10px 15px 5px #888888;
  margin: 0px 10px 25px 15px;
  padding: 0;
  display: block;


}

#About{
  background-color: #328CC1;
}

#Team{
  background-color: #D9B310;
}

#Contact{
  background-color: #1D2731;
  color: white;

}

/* Navigation Bar */
#navbar{
  padding:0;
  margin: 0 ;
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1D2731;
  border-radius: 0;


}

#navbar li {
  float: left;
  display: block;
  font-size: 22px;
  font-weight: bold;
  color: #fff
  white-space:nowrap;

}

#navbar li a {
  display: block;
}

#navbar a {
  padding: 16px;
  color: #fff;
  text-decoration: none;

}

#navbar a:hover {
  background-color: #0B3C5D;
  color: #D9B310;
}
#footer{
  background-color: #0B3C5D;
  text-align: center;
}
#footer p{
  text-align: center;
}
/* Team Section */

.div__photos{
  display: inline-flex;
  width: 100%;
}

.polaroid {
  width: 27%;
  background-color: white;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div__photos div.container {
  text-align: center;
  padding: 10px 20px;
}

/* Contact Form */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#form {
    border-radius: 5px;
    /*background-color: #f2f2f2; */
    padding: 20px;
    color: white;
    text-align: left;
}

.message{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height:100px;
}
.container{

  font-family: Georgia, serif;
font-style: italic;
color: #444444;
letter-spacing: 1.25px;
line-height: 1.5;
background: #EEEEEE;
padding: 5px;
margin: 0px;
font-size: 13pt;
width: 92%;
}
