/* General CSS */
/*mobile-first*/
body {
  font-family: sans-serif;
  color : white;
  margin: 0;

}

div{
  padding: 20px 25px 20px 25px;
  margin: 0;
  text-align: center;

}

p {
  text-align: justify;
}
/*nav bar */
#navbar1{
  display: none;
}
#navbar{
  visibility: visible;
  padding: 0;
}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #1D2731;
    position: fixed;
    height: 100%;
    overflow: auto;
    float: left;

}
#navbar li {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

#navbar li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin-bottom: 15px;
    margin-top: 10px;
}

#navbar li a:hover {
  background-color: #0B3C5D;
  color: #D9B310;
}


/* p h2 {
  padding: 10px;
} */
#header{
  text-align: center;
  background-color: #0B3C5D;
  background-image: url('images/theme.jpg');
  background-repeat: no-repeat;
  background-position: center right;
}

#title{
  padding-top: 70px;
  font-family: impact, sans-serif;
  font-size: 70px;
}

#tagline{
  font-size: 28px;
  font-style: italic;
  margin-top: -15px;
  padding-bottom: 45px;
}

#Content {
  margin-left:23%;padding:1px 16px;
  box-shadow: -10px 15px 5px white;

}

#About{
  background-color: #328CC1;
  padding-right: 16%;
  padding-left: 16%;
}
#About h2{
  font-size: 30px;
}
#About p{
  font-size : 25px;
}

#Team{
  background-color: #D9B310;
}
#Team h2{
  font-size: 30px;
}
#Team p{
  padding-left: 12%;
  /*padding-right: 10%;*/
  font-size: 25px;
}
#Contact{
  background-color: #1D2731;
  color: white;
}
#Contact h2{
  font-size: 30px;
}
#Contact p{
  font-size: 25px;
  padding-left: 2%;
  padding-right:10%;
}

#footer{
  background-color: #0B3C5D;
  text-align: center;
}
#footer p{
  text-align: center;
}
/* Team Section */

.div__photos{
  width: 100%;
  margin: auto;
  padding: 0;
}

.polaroid {
  width: 90%-25px;
  background-color: white;
  margin-right:  auto;
  margin-left:   auto;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: auto;

}

.div__photos div.container {
  text-align: center;
  padding: 10px 20px;
}

/* Contact Form */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#form {
    border-radius: 5px;
    /*background-color: #f2f2f2; */
    padding: 20px;
    color: white;
    text-align: left;
}

.message{
  font-size: 15px;
  line-height: 3;

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height:100px;
}
.container{

font-family: Georgia, serif;
font-style: bold;
color: #444444;
letter-spacing: 1.25px;
line-height: 1.5;
background: #EEEEEE;
padding: 5px;
margin: auto;
font-size: 13pt;
width: 100%-20px;
}

@media only screen and (min-width: 768px) {

  body {
    font-family: sans-serif;
    color : white;
    margin: 8px;
  }
  div{
    padding: 20px 25px 20px 25px;
    margin: 0;
    text-align: center;

  }
  p {
    text-align: justify;
  }

  .polaroid {
    width: 90%;
  }
  #Content {

    margin: 0px 10px 25px 15px;
    padding: 0;
    display: block;
  }
  /* Navigation Bar */
  #navbar1{
    padding:0;
    margin: 0 ;
    float: none;
    display: block;
  }
  #navbar1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1D2731;
    border-radius: 0;
    position: static;
    float: none;
    width: 100%
  }

  #navbar1 li {
    float: left;
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #fff
    white-space:nowrap;

  }

  #navbar1 li a {
    display: block;
  }

  #navbar1 a {
    padding: 16px;
    color: #fff;
    text-decoration: none;

  }

  #navbar1 a:hover {
    background-color: #0B3C5D;
    color: #D9B310;
  }
  #navbar{
    visibility: hidden;
  }
  #Content {
    box-shadow: -10px 15px 5px #888888;
    margin: 10px 10px 25px 15px;
    padding: 0;
    display: block;
  }
}

@media only screen and (min-width: 940px) {
  .div__photos{
    display: inline-flex;
    width: 100%;
  }
  .polaroid {
    width: 27%;
    background-color: white;
    margin-right:  auto;
    margin-left:   auto;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: auto;
  }
}

input,
input::-webkit-input-placeholder {
    font-size: 15px;
    line-height: 3;
}

input {
    font-size: 13px;
    width: 400px;
    padding: 0 20px;
}
